# Database configuration
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=jelou

# App configuration
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=1d

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=5
REDIS_TTL=86400

# Logging configuration
LOG_DIRECTORY=logs
ENABLE_FILE_LOGGING=true
ENABLE_MONGO_LOGGING=false
MONGO_URI=mongodb://mongodb:27017/logs
